<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/helpers.js"></script>
</head>
<body>
    <div>
        <h1>From Layout</h1>
        @RenderBody()
    </div>
    <script src="~/js/main.js"></script>
</body>
</html>
