<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/js/helpers.js"></script>
    <link rel="stylesheet" href="~/css/auth.css" />
    <link rel="stylesheet" href="~/css/Index.css" />
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
