@page "/auth/{operation}"
@model Live.MagicAuth.Pages.AuthModel
@using Live.MagicAuth.Pages

@{
    ViewData["Title"] = Model.Operation == "register" ? "Register" : "Login";
    Layout = "_Layout";
}

<h1>@ViewData["Title"]</h1>

<form id="@Model.Operation.ToLower()">
    <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" required />
    </div>
    @if (string.Equals(Model.Operation, AuthOperations.Register, StringComparison.InvariantCultureIgnoreCase))
    {
        <div>
            <label for="displayName">Display Name</label>
            <input type="text" id="displayName" name="displayName" required />
        </div>
    }
    <button type="submit">@Model.Operation</button>
</form>

@if (string.Equals(Model.Operation, AuthOperations.Register, StringComparison.InvariantCultureIgnoreCase))
{
    <script src="~/js/register.js"></script>
}
else if (string.Equals(Model.Operation, AuthOperations.Login, StringComparison.InvariantCultureIgnoreCase))
{
    <script src="~/js/login.js"></script>
}
